.babun/
.cache/
.DataGrip2016.3/
.eclim/
.IntelliJIdea2016.3/
.p2/
AppData/
Evernote/
hsperfdata_js/
OneDrive/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
Links/
Music/
Pictures/
Saved Games/
Searches/
Videos/
.bash_history
.rediscli_history
.viminfo
NTUSER.DAT*
_viminfo
ntuser.dat.LOG*
ntuser.ini
.eclipse/
.minttyrc
IdeaProjects/
Vimperator/
