let mapleader=<space>

set hlsearch
set incsearch
set ignorecase
set smartcase
set showmode
set number
set relativenumber
set scrolloff=3
set history=1024
set clipboard=unnamed

nnoremap <cr> :nohlsearch<cr>

nnoremap j jzz
nnoremap k kzz

nnoremap <space>q :q<cr>
nnoremap <space>Q :qa!<cr>

nnoremap <space>d <c-d>
nnoremap <space>u <c-u>

inoremap <c-h> <left>
inoremap <c-j> <down>
inoremap <c-k> <up>
inoremap <c-l> <right>
inoremap <c-a> <home>
inoremap <c-e> <end>
inoremap <c-d> <delete>

inoremap jk <esc>

nnoremap H ^
nnoremap L $
nnoremap U <c-r>
nnoremap Y y$

nnoremap / :action find<cr>

nnoremap <space>gc :action GotoClass<cr>
nnoremap <space>ga :action GotoAction<cr>

nnoremap <space>sfp :action ShowFilePath<cr>
nnoremap <space>spm :action ShowPopupMenu<cr>
